{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="container w-50 ml-auto mr-auto">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <a href="{% url 'myadmin:cards' category.pk %}"
           class="btn btn-primary form-control last">
            к списку товаров
        </a>
    </div>
{% endblock %}
