{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="container w-50 ml-auto mr-auto">
        Уверены, что хотите удалить <b>{{ object.name }}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger btn-block mt-1" type="submit" value="удалить">
        </form>
        <a href="{% url 'myadmin:cards' category.pk %}" class="btn btn-success btn-block mt-1">
            отмена
        </a>
    </div>
{% endblock %}