{% extends 'mainapp/base.html' %}

{% block content %}
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/carusel/surf1.jpg" alt="Serf1">
            </div>
            <div class="carousel-item">
                <img src="/media/carusel/surf2.jpg" alt="Serf2">
            </div>
            <div class="carousel-item">
                <img src="/media/carusel/surf3.jpg" alt="Serf3">
            </div>
            <div class="carousel-item">
                <img src="/media/carusel/surf4.jpg" alt="Serf4">
            </div>    
            <div class="carousel-item">
                <img src="/media/carusel/surf5.jpg" alt="Serf5">
            </div> 
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
{% endblock %}
               