body {
    margin: 0;
    background: url(../images/texture/texture03.jpg) repeat;
  }

.order_container {
    background: white;
    opacity: 50%;
    margin: 25px auto;
    width: 900px;
}

.order_container button a {
    text-decoration: none;
    color: #555;
}

.order_container img {
    display: block;
    float: left;
    width: 150px;
    border-radius: 25px;
}

.not_active {
    opacity: 0.5;
}

.table.orders_list {
    min-width: 600px;
}

.td1.orders_list {
    width: 40px;
}

.table.order.formset {
    min-width: 400px;
}

.td1.order.formset_td {
    /*width: 70%;*/
}

.td2.order.formset_td {
    /*width: 50px;*/
}

.td3.order.formset_td {
    /*width: 50px;*/
    text-align: center;
}

.td4.order.formset_td {
    /*width: 50px;*/
    text-align: center;
}

.category_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.category_delete .btn {
    display: block;
    float:left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.category_delete a {
    color: #111;
    text-decoration: none;
}

.order_record {
    position: relative;
    display: block;
    height: 170px;
    float: none;
}

span.category_name {
    margin-left: 2em;
    width: 5em;
    position: relative;
    display: block;
    float: left;
}

span.card_name {
    margin-left: 1em;
    width: 8em;
    position: relative;
    display: block;
    float: left;
}

span.card_price {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}

span.card_cost {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}